#imgContainer{
    height: 40vh;
    width:40vw;
    background-size: cover;
    background-position: center;
    margin: 1vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-radius: 5px;
}

#imgContainer  {
    transition: all 0.2s linear;

}
#imgContainer:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

#textContainer{
    list-style: none;
    font-size: 4vh;
    color: whitesmoke; 
    text-decoration:none !important;
    background: linear-gradient(0deg, rgba(0,0,0,0.7791491596638656) 0%, rgba(0,0,0,0.6587009803921569) 35%, rgba(0,0,0,0) 100%);
    padding: 2vh 2vw;
    width: 100%;
}

.categoryName {
    display: flex;
    align-content: flex-end;
    color: white;
    background: linear-gradient(0deg, rgba(0,0,0,0.7791491596638656) 0%, rgba(0,0,0,0.6587009803921569) 35%, rgba(0,0,0,0) 100%);
}