/*PROFILE PAGE*/
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #2b3035;
}
.profile-img{
    text-align: center;
}
.profile-img {
    height: 38vh;
    width: 20vw,
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: whitesmoke;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 0.2rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
    margin-top: 8px;
}

.profile-work p{
    font-size: 20px;
    color: #0062cc;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

div#home div.row{
    height: 8vh;
}

div#home input{
    background: #8593a018;
    margin-bottom: 10px!important;
}
footer{
    padding-top:10px ;
}

.sectionContainer{
    margin-bottom: 15vh;
}
@media (min-width: 10px) {
	.sectionContainer{
        margin-bottom: 0vh;
    }
  }
@media (min-width: 500px) {
	.sectionContainer{
        margin-bottom: 4vh;
    }
  }
  @media (min-width: 840px) {
	.sectionContainer{
        margin-bottom: 2vh;
    }
    .carousel-item{
        height: 50vh!important;
    }
  }
@media (min-width: 900px) {
	.sectionContainer{
        margin-bottom: 3vh;
    }
    .carousel-item{
        height: 60vh!important;
    }
  }
  @media (min-width: 1000px) {
	.sectionContainer{
        margin-bottom:5vh;
    }
    .carousel-item{
        height: 70vh!important;
    }
  }
  @media (min-width: 1100px) {
	.sectionContainer{
        margin-bottom:9vh;
    }
    .carousel-item{
        height: 80vh!important;
    }
  }
  @media (min-width: 1200px) {
	.sectionContainer{
        margin-bottom: 15vh;
    }
  }
  @media (min-width: 1329px) {
	.sectionContainer{
        margin-bottom: 19vh;
    }
  }







@media (max-width: 768px) {
	.profile-edit-btn{
        margin-left: 70px;
    }
  }
  @media (max-width: 768px) {
	.profile-edit-btn{
        margin-left: 70px;
    }
  }
  @media (max-width: 768px) {
	.put{
        margin: 2vh 0;
    }
  }
@media (max-width: 768px) {
	.profile-head h5{
        margin: 10px!important;
    }
    .profile-head h6{
        margin: 10px!important;
    }
  }
@media (min-width: 768px) {
	.contenido{
        top: -60px;
    }
  }

@media (min-width: 994px) {
	.contenido{
        top: -120px;
    }
  }

  @media (min-width: 1000px) {
	.contenido{
        top: -125px;
    }
  }