html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	background: #1B2838;
	color: whitesmoke;
}

header{
    background-color: #171A21;  
    padding: 1vh 4vw;
    
}
input{
	background: #2b3035;;
	color: whitesmoke;
	border: whitesmoke;
	padding: 5px;
}
.register input,.register select, .register button{
    width: 70%;
    padding: 11px;
    margin: 9px;
}

.register button, .login button{
    text-align: center;
    background-color: #171A21 ;
    color: whitesmoke;
    border: none;
    font-size: 1.5em;
}
.login input, .login select,.login button{
    width: 70%;
    padding: 13px;
    margin: 13px;
}
.register h1, .login h1{
    text-align: center;
    color: whitesmoke;
}

.form-login{
	background-color: #6a65856c;
	border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.responsiveText{
	font-size: 3.5vw;
}

.labelInput{
	padding-top: 1vw;
}

.login  {
    margin-top: 15vh;
}
.b-0 {
    bottom: 0;
}
.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}
.overflow {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: all 0.2s linear;
}
.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.form-inline {
	display: inline-block;
}


.navbar-brand{
	font-size: 2em;
}
.navbar-header.col {
	padding: 0 !important;
}
.navbar {		
	background: #171A21;
	padding-left: 16px;
	padding-right: 16px;;

}
.nav-link img {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: whitesmoke;
	padding-left: 0;
	padding-right: 50px;
}

.navbar .nav-item.open > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
	color: whitesmoke;
}	
.navbar .dropdown-item .material-icons {

	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}

.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
	background: transparent !important;
}
.comment-pic img {
	border-radius: 50%;
	width: 46px;
	height: 46px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}

.sendComment button{
    width: 20%;
    margin: 9px;
}
/* ==== N E W S ==== */ 
p.news, h4.news {
	 color: #c6d4df;
	 }
 h1.news ,h3.news {
	  color: 'white'; 
	}

/* ==== G A M E S ==== */ 




/*Responsive*/
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 1199px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
	}
	.input-group {
		width: 100%;
	}
}

@media (max-width: 900px) {
	.carousel-indicators {
	  display: none;
	}
  }

  @media (max-width: 840px) {
	.carousel-caption {
	  display: none!important;
	}
  }

  
  @media (min-width: 840px) {
	.carousel-item {
		height: 80vh
	}
  }