html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
<<<<<<< HEAD
    width: 100vw;
    background-color: violet;
    color: black;
=======
    background-color: red;
    color: whitesmoke;
>>>>>>> origin/branchAle
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 4vw;
}

a {
    color: black;
    text-decoration: none;
    padding: 0 6px ;
    font-size: 20px;
}

